
.input_wrapper {
    
    position: relative;
    margin: 8px;
    margin-top: 12px;

    .label {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 16px;
        transition: all 200ms;
    }
}